/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del body */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1,
header h3 {
    margin: auto;
    font-family: 'Arial', sans-serif;
}

/* Estilos para el botón de inicio de sesión */
.login-button {
    background-color: #007bff;
    color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;
}

.login-button:hover {
    background-color: #0056b3;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    margin: 0 8px;
    border-radius: 5px;
    font-family: 'Arial', sans-serif;
}

nav a:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace activo */
nav a.active {
    background-color: #ffcc00;
    color: #000;
    font-weight: bold;
}

/* Estilos para el contenido principal */
main {
    text-align: center;
    margin-top: 50px;
}

/* Estilos para los formularios */

form {
    background-color: #86c0ff;
    border: 2px solid #0056b3; /* Borde oscuro */
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form h2 {
    margin-top: 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

select,
input[type="text"],
input[type="date"],
input[type="submit"] {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
    margin: 0 auto; /* Centra el contenedor horizontalmente en la página */
}

.checkbox-wrapper {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    margin-bottom: 10px; /* Espacio entre las líneas */
    width: 50%; /* Ancho del contenedor de cada checkbox */
}

.checkbox-wrapper input[type="checkbox"] {
    margin-right: 5px; /* Espacio entre el checkbox y el texto */
}

.checkbox-wrapper label {
    margin: 0; /* Elimina el margen del texto */
}




input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla */
table {
    display: inline-table; /* Ajuste al contenido */
    margin: 20px auto;
    border-collapse: collapse;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid #0056b3;
}

th, td {
    padding: 12px;
    border-right: 2px solid #0056b3; /* Borde entre columnas */
}

th {
    background-color: #86c0ff;
    border: 2px solid #0056b3;
    font-weight: bold;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #d3d3d3;
}

tr:nth-child(odd) {
    background-color: #fff;
}

td a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

td a:hover {
    text-decoration: underline;
}