/* Estilos para el encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

/* Estilos para la barra de navegación */
nav {
    background-color: #007bff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #0056b3;
}

/* Estilos para el enlace activo */
nav a.active {
    background-color: #ffcc00; /* Cambia el color de fondo para resaltar */
    color: #000; /* Cambia el color del texto para que sea legible */
    font-weight: bold; /* Otras modificaciones visuales para indicar la selección */
}

/* Estilos para el contenido principal */
main {
    text-align: center; /* Centra el contenido */
    margin-top: 50px; /* Espacio entre el encabezado y el contenido */
}

/* Estilos para el formulario */
form {
    margin-bottom: 20px;
}

form label {
    font-weight: bold;
}

form select {
    padding: 5px;
    margin-bottom: 10px;
}

form input[type="submit"] {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para la tabla */
table {
    width: 100%; /* Ocupa todo el ancho disponible */
    border-collapse: collapse; /* Fusiona los bordes de las celdas */
    margin-top: 20px; /* Espacio entre el formulario y la tabla */
}

th, td {
    padding: 8px; /* Espaciado interno de las celdas */
    border: 1px solid #ddd; /* Borde de las celdas */
}

th {
    background-color: #f2f2f2; /* Color de fondo del encabezado */
    font-weight: bold; /* Negrita en el encabezado */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Color de fondo de las filas pares */
}